<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Afterlife</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Upload pics<span class="sr-only">(current)</span></a>

        </li>
        <li class="nav-item" style="margin-left: 2cm;">
          <a class="nav-link d-flex align-items-center justify-content-center bg-primary text-white rounded-circle" href="#" style="width: 40px; height: 40px;">
            U
          </a>
        </li>
      </ul>
    </div>
  </nav>
</body>
</html>